<h1>Insurance List</h1>

<div class="panel panel-info">
    <div class="panel-heading">
        <h1 class="panel-title">
            Filter
        </h1>
    </div>
    <div class="panel-body">
        <div class="form-group">
            <label>Filter Insurances</label>
            <input type="text" class="form-control" ng-model="filterText" />
        </div>
    </div>
</div>

<ul class="list-group">
    <li class="list-group-item" ng-repeat="insurance in insurances | filter: filterText">
        <span class="label label-default">
            {{insurance.insuranceId}}
        </span>
        &nbsp;
        Name : {{insurance.name}}
        &nbsp;
        Coverage : {{insurance.coverageStart}} - {{insurance.coverageEnd}}
        &nbsp;
        Risk : {{insurance.risk}}%
    </li>
</ul>